body{
    background-color: aqua;
}
.cntainer
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cal-body
{
display: flex; 
flex-direction: column;
align-items: center;
background-color: rgb(221, 226, 229);
height: 70%;
width:30%;
border-radius: 20%;
}
.box1
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:200px;
    height: 40px;
    background-color:rgb(16, 167, 212);
    margin-top: 60px;
    font-size: 25px;
    color: beige;
    padding:5px;
}

.twelve-1
{
    height: 35px;
    width:45px;
    background-color: blanchedalmond;

}
.parent-div
{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.parent-1
{
display: flex;
}
.box
{
display: flex;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
background-color: rgb(122, 143, 150);
margin: 5px;
}